.hero{
    padding: 92px 100px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* align-items: center; */
}


.hero h1{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.hero .breif{
    font-weight: 700;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #898989;
}

.skills{
    display: flex;
    justify-content: space-between;
}



.skill{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 400;
}

.skillLight{
    background: #E3E8ED;
}

.skillDark{
    background: #172135;
}

/* General Button Styling */
.download-btn {
    align-self: center;
}
.download-btn button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Hover Effects */
  .download-btn button:hover {
    background-color: white;
    transform: scale(1.05);
    color: #172135;
  }
  
  /* Focus Style */
  .download-btn button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Active Button Style */
  .download-btn button:active {
    transform: scale(0.95);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .download-btn button {
      width: 100%;
      padding: 0.8rem 1rem;
    }
  }
  

@media(max-width: 870px){
    .hero{
        padding: 92px 50px;
    }

    .skills{
        gap: 5px;
    }
}

@media(max-width: 750px){
    .hero{
        padding: 92px 30px;
    }

    .hero .breif{
        font-size: 1.3rem;
    }

    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        justify-content: center;
    }

    .skills span{
        margin-bottom: 10px;
        justify-self: center;
    }

    .hero h1{
        font-size: 32px;
    }
}

@media(max-width: 300px){
    .skills{
        grid-template-columns: 1fr 1fr;
    }

    .hero h1{
        font-size: 22px;
    }

    .hero .breif{
        font-size: 0.9rem;
    }
}