.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
}
.navBar{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navLink ul{
    display: flex;
    gap: 30px;
    font-weight: 400;
    font-size: 1rem;
}


.navBar .contactBtn{
    background: #3474F3;
    border-radius: 6px;
    color: #fff;
    padding: 12px 21px;
}

.navToggler{
    font-size: 1.25rem;
    display: none;
}


@media(max-width: 870px){
    .header{
        padding: 20px 50px;
    }

    .navBar{
        gap: 20px;
    }

}

@media(max-width: 750px){
    .header{
        padding: 20px 30px;
        position: relative;
    }

    .navBar{
        gap: 20px;
    }

    .contactBtn{
        display: none;
    }

    .navToggler{
        display: block;
    }

    .navLink{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 0px;
        visibility: hidden;
        transition: all 1s ease-in-out;
        overflow: hidden;
    }

    .navLight{
        background-color: #fff;
        border-top: 1px solid #111827;
    }

    .navDark{
        background-color: #fff;
        color: #111827;
        border-top: 1px solid #F7F3F3;
    }

    .navLink ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        /* margin-bottom: 20px; */
    }

    .navLink ul li{
        padding: 15px 0px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #F7F3F3;
    }

    .navLink ul li a{
        width: 100%;
    }

    .navLink ul li:hover{
        background-color: #F7F3F3;
        color: #111827;
    }

    .expanded{
        height: 165px;
        visibility: visible;
        transition: all 1s ease-in-out;
    }
}

@media(max-width: 300px){
    .header{
        padding: 20px 10px;
    }
}